/*** NORMALIZING ***/

* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

body {
    margin: 0 auto;
    font-family: 'Lora', serif;
    overflow-x: hidden;
    background: #000000;
}

.container {
    margin: 0 auto;
    max-width: 1440px;
    min-width: 310px;
    overflow: hidden;
    padding: 0 10px;
}

.header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

.header__logo-link,
.menu__list-link {
    text-decoration: none;
    color: aliceblue;
}

.header__logo-link {
    font-size: 22px;
    font-weight: 500;
}

.menu__list-link {
    font-size: 20px;
}

.main {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media(max-width: 1200px) {
    .main {
        flex-direction: column;
        justify-content: start;
        align-items: start;
    }
}

.stats,
.marketplace {
    color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 10px;
    height: 750px;
    font-size: 18px;
    width: 350px;
}

.stats__block-title,
.marketplace__block-title {
    border-bottom: 1px solid red;
    margin-bottom: 15px;
}

.stats__subblock-title,
.marketplace__subblock-title {
    border-bottom: 1px solid #4caf50;
}

.stats__progress {
    width: 300px;
    height: 15px;
    background-color: #eee;
    overflow: hidden;
}

.stats__progress-bar {
    height: 100%;
    background-color: #4caf50;
    width: 0;
    /* можно менять через inline style */
}

#daily {
    transition: width 0.5s ease;
}

.pic_container {
    margin-left: auto;
    width: 1000px;
    height: 750px;
    object-fit: cover;
    overflow: hidden;
}
@media(max-width:991px) {
    .stats {
        width: 100%;
    }
    .pic_container {
        width: 100%;
        aspect-ratio: 4 / 3;
        margin-left: 0;
        position: relative;
        overflow: hidden;
        touch-action: none;
    }
}

@media(max-width: 1200px) {
    .stats {
        height: auto;
        margin-bottom: 30px;
    }

    .pic_container {
        width: 1000px;
        height: 750px;
        margin-left: 0;
        align-self: center;
    }
}



canvas {
    display: block;
    width: 100%;
    height: auto;
    border: 1px solid #ccc;
}

.footer {
    margin-top: 30px;
    color: #ffffff;
}